@import 'variables';
.border{
	border-left:0.5px solid darken($fourth-color, 10%);
	border-right:0.5px solid darken($fourth-color, 10%);
}
#header {
	font-family: 'Open Sans', sans-serif;
	 #top{
	 	height:auto;
	 	background-color: $fourth-color;
	 	border-bottom:0.5px solid darken($fourth-color, 10%);
	 	.row{
	 		div { 

	 			div{
		 		line-height:40px;
		 		@extend .border;
		 		color: darken($fourth-color, 40%);
			 		
				 	span{
				 		font-size:1em;
				 	} 
				}
			}

			 .scmedia{
			 		border:none;
			 		div{
			 			@extend .border;
			 			transition: all 0.3s ease;
			 				
			 			&:hover{
			 				border:none;
			 			}
			 			
			 			&:first-child:hover{
							background-color:#007bb6;
							color:white;
			 			}
			 			&:nth-child(2):hover{
							background-color:#cb2027;
							color:white;
			 			}
			 			&:nth-child(3):hover{
							background-color:#D84A38;
							color:white;
			 			}
			 			&:nth-child(4):hover{
							background-color:#00aced;
							color:white;
			 			}
			 			&:last-child:hover{
							background-color:#3b5998;
							color:white;

			 			}
						

			 		}
			 	
		 	}
		 	
	    }
	 }
	
	.navbar{
		height:100px;
		
			button{
					
					background-color:$main-color;
					height:35px;
					width:70px;
					margin:25px 0;
					span{
						width:12px;
						margin:2px auto 2px auto;
						background-color:white;
					}
			}
			.navbar-brand{
					padding-right:0;
					margin-right:0;
					width:130px;
				img{
					width:100%;
					padding:10px 0;

					


				}
			}

		
	
		.navbar-nav{
			padding:20px 0;
			
			.active{
				border-radius: 20px;
					background-color: $main-color;
					color:white;
			}
			li{
				a{
				color:black;
				margin:10px 5px;
				padding:10px 20px;
				
					&:hover{
						border-radius: 20px;
						background-color: $main-color;
						color:white;
					}

				}
			}
		}
	} 
	
}

