$main-color: #31A3DD;
$second-color: #414547;
$features-bgcolor: #3D4344;
$white: #fff;
$third-color: #3D4344;
$fourth-color: #FBFBFB;
$fifth-color:#F1F1F1;
$text-color:#999;
$black: #000;
$partners-item-width: 242px;
$arrows-border-color: #f1f1f1;
$gray: #ccc;